* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-page-container {
  background-color: #f4f4f4;
  height: 570px;
  position: relative;
}

.green-arch-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 13%;
  height: auto;
  z-index: 0;
}

.green-arch-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 13%;
  height: auto;
  z-index: 0;
  transform: rotate(180deg);
  /* border: 1px solid red; */
}

.custom-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* padding: 30px; */
  z-index: 1;
  /* border: 1px solid red; */
}

.title {
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  margin-top: 50px;
  z-index: 1;
}

.red {
  color: #f8485d;
}

.green {
  color: #03c19f;
}

.sub-title {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 450;
  font-size: 1.5rem;
  margin-top: 35px;
  z-index: 1;
}

.slides-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
  /* border: 5px solid green; */
  background-color: #21252f;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}

.title-text-slides2 {
  width: 75%;
}

.slides-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;

  /* border: 5px solid green; */
  background-color: #ffffff;
  color: rgb(0, 0, 0);

  position: relative;
}

.title-text-slides3 {
  width: 75%;
  z-index: 1;
  /* border: 5px solid aquamarine; */
}

.red-arch-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 13%;
  height: auto;
  transform: rotate(180deg);
  z-index: 0;
}

.red-arch-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 13%;
  height: auto;
  z-index: 0;

  /* border: 1px solid red; */
}

/* -------------------------------------------------- */

@media (max-width: 430px) {

  .custom-page-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: #f4f4f4;
    height: 1115px;
    position: relative;
    /* border: 1px solid red; */
  }
  
  .green-arch-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 13%;
    height: auto;
    z-index: 0;
  }
  
  .green-arch-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 13%;
    height: auto;
    z-index: 0;
    transform: rotate(180deg);
    /* border: 1px solid red; */
  }
  
  .custom-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* padding: 30px; */
    z-index: 1;
    /* border: 1px solid red; */
  }
  
  .title {
    font-family: "Lexend", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 50px;
    z-index: 1;
  }
  
  .red {
    color: #f8485d;
  }
  
  .green {
    color: #03c19f;
  }
  
  .sub-title {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 450;
    font-size: 0.80rem;
    margin-top: 20px;
    z-index: 1;
  }
  
  .slides-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    width: 100%;
    /* border: 5px solid green; */
    background-color: #21252f;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
  }
  
  .title-text-slides2 {
    width: 90%;
    text-align: left;
  }
  
  .slides-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
  
    /* border: 5px solid green; */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  
    position: relative;
  }
  
  .title-text-slides3 {
    width: 90%;
    text-align: left;
    
    z-index: 1;
    margin-top: 13px;
    /* border: 5px solid aquamarine; */
  }
  
  .red-arch-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 13%;
    height: auto;
    transform: rotate(180deg);
    z-index: 0;
  }
  
  .red-arch-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 13%;
    height: auto;
    z-index: 0;
  
    /* border: 1px solid red; */
  }

}
