* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.report-slides {
  display: flex;
  margin-top: 20px;
}

/* ------------------------------------------------- */

@media (max-width: 430px) {
  .report-slides {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}
